Source: vyatta-config-sync
Section: contrib/net
Priority: extra
Maintainer: Borut Mrak <b@9bit.biz>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 5)

Package: vyatta-config-sync
Architecture: all
Depends: rsync,
 openssh-client,
Recommends: vyatta-config-validator
Description: Vyatta (VC5/VC6/VC7)/Vyos/EdgeOS config.boot synchronizer
 vyatta-config-sync is a Vyatta configuration synchronizer destined
 to distribute Vyatta config.boot file from master server across slave servers
 while applying necessary local modifications on every slave host.

